@use '../../styles/variables' as *;

.container {
  margin: $spacing-lg auto 0 auto;
  width: $width-keyboard;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: $spacing-xs;
    width: $size-button;
    height: $size-button;
    background: none;
    border: $border-style-default $border-width-default $color-border-default;
    box-shadow: $shadow-button;
    font-size: 1em;
    color: $color-text-primary;
    cursor: pointer;
    &[disabled] {
      cursor: default;
      color: $color-text-disabled;
      box-shadow: none;
    }
  }
}
