@use '../../styles/variables' as *;

.container {
  margin: $spacing-lg 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .letter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 $spacing-sm;
    width: $size-letter;
    height: $size-letter;
    border-bottom: $border-style-default $border-width-default $color-border-muted;
    font-size: $font-size-lg;
    user-select: none;
  }

  .letter-failed {
    color: $color-text-muted;
  }
}
