@use '../../styles/variables' as *;

.btn {
  display: block;
  margin: $spacing-md auto 0 auto;
  color: $color-text-secondary;
  background: none;
  border: $border-style-default $border-width-default $color-border-default;
  padding: $spacing-xs $spacing-sm;
  font-size: $font-size-sm;
  cursor: pointer;
  transition: color $transition-default, background-color $transition-default,
    border-color $transition-default;
  &:hover {
    color: $color-white;
    background-color: $color-bg-hover;
    border-color: $color-bg-hover;
  }
  &[disabled] {
    cursor: default;
    color: $color-text-disabled;
    box-shadow: none;
    &:hover {
      color: $color-text-disabled;
      background-color: $color-bg-transparent;
      border-color: $color-text-disabled;
    }
  }
}
