@use '../../styles/variables' as *;

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: $width-result-container;
  height: $height-result-container;
  margin: $spacing-lg auto 0 auto;
  border: $border-style-default $border-width-default $color-border-default;

  img {
    display: block;
  }

  > div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: $spacing-xs 0;
    background: $color-bg-overlay;
    font-size: $font-size-base;
    text-align: center;
    color: $color-text-primary;
  }
}
