.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    margin: 30px auto 0 auto;
    border: solid 1px #ddd;
    font-size: 22px;
    text-align: center;
}
