.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  margin: 30px auto 0 auto;
  border: solid 1px #ddd;

  img {
    display: block;
  }

  > div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    background: rgba(#eee, 0.75);
    font-size: 16px;
    text-align: center;
    color: #333;
  }
}
